zgw_consumers_config_enable: true
zgw_consumers:
  services:
  - identifier: open-notificaties
    label: Open Notificaties
    api_root: https://notificaties.gemeente.local/api/v1/
    api_type: nrc
    auth_type: zgw
    client_id: open-organisatie
    user_id: open-organisatie
    secret: open-organisatie-secret

notifications_config_enable: true
notifications_config:
  notifications_api_service_identifier: open-notificaties
  notification_delivery_max_retries: 1
  notification_delivery_retry_backoff: 2
  notification_delivery_retry_backoff_max: 3

