openapi: 3.0.3
info:
  title: Identiteit API
  version: 0.1.0
  description: |2+

    Een API voor Identiteiten.

    De Identiteiten API heeft 2 endpoints `group` en `users`.
    Beide endpoints zijn **read-only**, wat betekent dat ze alleen gegevens kunnen ophalen en niet wijzigen.

    Gegevens kunnen wel toegevoegd of gewijzigd worden via **SCIM**.

    ### Notificaties

    Deze API publiceert notificaties op het kanaal `users`.

    **Main resource**

    `user`



    **Kenmerken**

    * `scim_external_id`: A string that is an identifier for the resource as defined by the provisioning client.
    * `username`: User principal name van de medewerker.
    * `email`: E-mailadres van de medewerker.

    **Resources en acties**


  contact:
    url: https://github.com/maykinmedia/open-organisatie
    name: Maykin Media
    email: support@maykinmedia.nl
paths:
  /groups:
    get:
      operationId: groups_list
      description: Deze lijst kan gefilterd wordt met query-string parameters.
      summary: Alle groups opvragen.
      parameters:
      - in: query
        name: actief
        schema:
          type: boolean
        description: Geeft aan of het team momenteel actief is.
      - in: query
        name: naam
        schema:
          type: string
        description: Naam van het team.
      - name: page
        required: false
        in: query
        description: Een pagina binnen de gepagineerde set resultaten.
        schema:
          type: integer
      - name: pageSize
        required: false
        in: query
        description: 'Het aantal resultaten terug te geven per pagina. (default: 100).'
        schema:
          type: integer
      tags:
      - Group
      security:
      - tokenAuth: []
      responses:
        '200':
          headers:
            API-version:
              schema:
                type: string
              description: 'Geeft een specifieke API-versie aan in de context van
                een specifieke aanroep. Voorbeeld: 1.2.1.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedGroupList'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/PaginatedGroupList'
          description: ''
  /groups/{scim_external_id}:
    get:
      operationId: groups_retrieve
      description: Een specifieke group opvragen.
      summary: Een specifieke group opvragen.
      parameters:
      - in: path
        name: scim_external_id
        schema:
          type: string
          description: A string that is an identifier for the resource as defined
            by the provisioning client.
        required: true
      tags:
      - Group
      security:
      - tokenAuth: []
      responses:
        '200':
          headers:
            API-version:
              schema:
                type: string
              description: 'Geeft een specifieke API-versie aan in de context van
                een specifieke aanroep. Voorbeeld: 1.2.1.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Group'
          description: ''
  /users:
    get:
      operationId: users_list
      description: Deze lijst kan gefilterd wordt met query-string parameters.
      summary: Alle users opvragen.
      parameters:
      - in: query
        name: actief
        schema:
          type: boolean
        description: Geeft aan of de medewerker momenteel actief is.
      - in: query
        name: datumToegevoegd
        schema:
          type: string
          format: date-time
        description: Datum waarop de medewerker is toegevoegd.
      - in: query
        name: datumToegevoegd__gt
        schema:
          type: string
          format: date-time
        description: Datum waarop de medewerker is toegevoegd.
      - in: query
        name: datumToegevoegd__lt
        schema:
          type: string
          format: date-time
        description: Datum waarop de medewerker is toegevoegd.
      - in: query
        name: functie
        schema:
          type: string
        description: Functie van de medewerker (optioneel).
      - in: query
        name: groupsUuid
        schema:
          type: array
          items:
            type: string
            format: uuid
        description: scim_external_id's van de gekoppelde groepen (via SCIM external
          ID).
        explode: false
        style: form
      - name: page
        required: false
        in: query
        description: Een pagina binnen de gepagineerde set resultaten.
        schema:
          type: integer
      - name: pageSize
        required: false
        in: query
        description: 'Het aantal resultaten terug te geven per pagina. (default: 100).'
        schema:
          type: integer
      tags:
      - Users
      security:
      - tokenAuth: []
      responses:
        '200':
          headers:
            API-version:
              schema:
                type: string
              description: 'Geeft een specifieke API-versie aan in de context van
                een specifieke aanroep. Voorbeeld: 1.2.1.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUserList'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/PaginatedUserList'
          description: ''
  /users/{scim_external_id}:
    get:
      operationId: users_retrieve
      description: Een specifieke user opvragen.
      summary: Een specifieke user opvragen.
      parameters:
      - in: path
        name: scim_external_id
        schema:
          type: string
          description: A string that is an identifier for the resource as defined
            by the provisioning client.
        required: true
      tags:
      - Users
      security:
      - tokenAuth: []
      responses:
        '200':
          headers:
            API-version:
              schema:
                type: string
              description: 'Geeft een specifieke API-versie aan in de context van
                een specifieke aanroep. Voorbeeld: 1.2.1.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/User'
          description: ''
components:
  schemas:
    Group:
      type: object
      properties:
        scimExternalId:
          type: string
          format: uuid
          readOnly: true
          description: A string that is an identifier for the resource as defined
            by the provisioning client.
        naam:
          type: string
          description: Naam van het team.
        beschrijving:
          type: string
          description: Optionele beschrijving van het team.
        isActive:
          type: boolean
          readOnly: true
          description: Geeft aan of het team momenteel actief is.
      required:
      - beschrijving
      - isActive
      - naam
      - scimExternalId
    PaginatedGroupList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?page=4
        previous:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?page=2
        results:
          type: array
          items:
            $ref: '#/components/schemas/Group'
    PaginatedUserList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?page=4
        previous:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?page=2
        results:
          type: array
          items:
            $ref: '#/components/schemas/User'
    User:
      type: object
      properties:
        url:
          type: string
          format: uri
          readOnly: true
          minLength: 1
          maxLength: 1000
          description: URL-referentie naar dit object. Dit is de unieke identificatie
            en locatie van dit object.
        scimExternalId:
          type: string
          format: uuid
          readOnly: true
          description: A string that is an identifier for the resource as defined
            by the provisioning client.
        username:
          type: string
          readOnly: true
          description: User principal name van de medewerker.
        voornaam:
          type: string
          readOnly: true
          description: Voornaam van de medewerker.
        achternaam:
          type: string
          readOnly: true
          description: Achternaam van de medewerker.
        emailadres:
          type: string
          format: email
          readOnly: true
          description: E-mailadres van de medewerker.
        telefoonnummer:
          type: string
          description: Telefoonnummer van de medewerker (optioneel).
        titel:
          type: string
          description: Functie van de medewerker (optioneel).
        isActive:
          type: boolean
          readOnly: true
          description: Geeft aan of de medewerker momenteel actief is.
        groups:
          type: array
          items:
            $ref: '#/components/schemas/Group'
          readOnly: true
          description: Groups van de user.
        datumToegevoegd:
          type: string
          format: date-time
          readOnly: true
          description: Datum waarop de medewerker is toegevoegd.
        laatstGewijzigd:
          type: string
          format: date-time
          readOnly: true
          description: Datum waarop de medewerker voor het laatst is gewijzigd.
      required:
      - achternaam
      - datumToegevoegd
      - emailadres
      - groups
      - isActive
      - laatstGewijzigd
      - scimExternalId
      - url
      - username
      - voornaam
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Token-based authentication with required prefix "Token"
servers:
- url: /identiteit/api/v0
